<html>
<head>
<title>form</title>
<link rel="stylesheet" href="stylesheets/style1.css">
</head>
<body>
<center> 
<form action="" method="post">
<h5>login form</h5>
<ladel>Name:</ladel>
<input type="text" name="" placeholder="enter name"></input><br><br>
<ladel>Email:</ladel>
<input type="email" placeholder="enter mail"></input><br><br>
<input type="submit" value="signup"></input>

</form>
</center>
</body>
</html>
